<section>
    <div class="max-w-full" data-aos="zoom-y-out">
        <div>

            <!-- About Header -->
            <figure class="flex justify-center items-start">
                <img class="width=2500 height=1071" src="https://i.ibb.co/Zc6PqZQ/about-intro-banner.png" width="2500" alt="About us"/>
            </figure>

            <div class="max-w-5xl mx-auto text-left pt-12 pb-12 md:pb-16 px-4 sm:px-6">
                <h1 class="h2 mb-4 text-gray-900 flex">About Us</h1>
                <p class="text-lg text-gray-700 flex">
                    Las Piñas City National Science High School, fondly known as LPSci, is an abode of learning, as reflected by the various activities that make each student grow to their fullest potential. With excellent teachers, students are equipped with skills and values that will make them globally-competitive individuals.
                </p><br>
                <p class="text-base text-gray-700 flex">
                    Over the years, LPSci proved to be an environment conducive to honing students’ skills in academics, computer, arts or athletics – all the while cultivating good work ethics and social responsibility. LPSci continues to push the boundaries of achievement; not settling with experiencing the rarity of it but making excellence a sustained habit. It is undeniable that the school has produced outstanding graduates in different colleges and universities. However, its students will never forget the essence of its motto: a bright mind is nothing without a humble heart.
                </p><br>
                <p class="text-base text-gray-700 flex">
                    Las Piñas City National Science High School is not only just an institution. It is a home that cares for the welfare of its students – an abode where minds and hearts are filled with hopes of achieving their dreams. ‘Cause here in LPSci, we soar high!
                </p>
            </div>

        </div>
    </div>
</section>