<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-24 md:pt-40">

      <!-- Section header -->
      <div class="max-w-3xl mx-auto text-center pb-12 md:pb-16">
        <h1 class="h2 mb-4 font-serif">Extracurricular</h1>
        <p class="text-xl text-gray-600">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.
        </p>
      </div>

      <!-- Content -->
      <div class="overflow-x-auto flex flex-no-wrap" data-aos="zoom-y-out">
        <div class="flex flex-col h-full mr-8">
            <header>
                <a class="block mb-6" href="blog-post.html">
                    <figure class="relative h-0 pb-9/16 overflow-hidden translate-z-0">
                        <img class="absolute inset-0 w-full h-full object-cover transform scale-105 hover:-translate-y-1 transition duration-700 ease-out" src="../images/news-01.jpg" width="352" height="198" alt="News 01" />
                    </figure>
                </a>
              
                <h3 class="text-xl font-bold leading-snug tracking-tight p-10">
                    <a class="hover:underline p-10" href="blog-post.html"></a>Blablablablablablablabla</a>
                </h3>
            </header>
        </div> 
        
        <div class="flex flex-col h-full mr-8">
          <header>
              <a class="block mb-6" href="blog-post.html">
                  <figure class="relative h-0 pb-9/16 overflow-hidden translate-z-0">
                      <img class="absolute inset-0 w-full h-full object-cover transform scale-105 hover:-translate-y-1 transition duration-700 ease-out" src="../images/news-01.jpg" width="352" height="198" alt="News 01" />
                  </figure>
              </a>
            
              <h3 class="text-xl font-bold leading-snug tracking-tight p-10">
                  <a class="hover:underline p-10" href="blog-post.html"></a>Blablablablablablablabla</a>
              </h3>
          </header>
      </div> 
      <div class="flex flex-col h-full mr-8">
        <header>
            <a class="block mb-6" href="blog-post.html">
                <figure class="relative h-0 pb-9/16 overflow-hidden translate-z-0">
                    <img class="absolute inset-0 w-full h-full object-cover transform scale-105 hover:-translate-y-1 transition duration-700 ease-out" src="../images/news-01.jpg" width="352" height="198" alt="News 01" />
                </figure>
            </a>
          
            <h3 class="text-xl font-bold leading-snug tracking-tight p-10">
                <a class="hover:underline p-10" href="blog-post.html"></a>Blablablablablablablabla</a>
            </h3>
        </header>
    </div> 
    <div class="flex flex-col h-full mr-8">
      <header>
          <a class="block mb-6" href="blog-post.html">
              <figure class="relative h-0 pb-9/16 overflow-hidden translate-z-0">
                  <img class="absolute inset-0 w-full h-full object-cover transform scale-105 hover:-translate-y-1 transition duration-700 ease-out" src="../images/news-01.jpg" width="352" height="198" alt="News 01" />
              </figure>
          </a>
        
          <h3 class="text-xl font-bold leading-snug tracking-tight p-10">
              <a class="hover:underline p-10" href="blog-post.html"></a>Blablablablablablablabla</a>
          </h3>
      </header>
  </div> 
  
    </div>
  </div>
</section>