<section class="relative">

    <!-- Section background (needs .relative class on parent and next sibling elements) 
    <div class="absolute inset-0 pointer-events-none mb-16" aria-hidden="true"></div>
    <div class="absolute left-0 right-0 m-auto w-px p-px h-20 bg-gray-200 transform -translate-y-1/2"></div>-->

    <div class="relative max-w-5xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-24">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-center pb-12 md:pb-24">
                <h1 class="h2 mb-4">We strive for <span="text-green-900">excellence</span></h1>
                <p class="text-xl text-gray-600">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
            </div>

            
             <!-- Section content -->
                 <div class="md:grid md:grid-cols-2 md:gap-6" x-data="{ tab: '1' }">
            
                    <!-- First Block -->
                        <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-7 lg:col-span-6 md:mt-6 flex items-center">
                            
                            <div class="md:pr-4 lg:pr-12 xl:pr-16 mb-8">
                                <h3 class="h3 mb-3">Powerful suite of tools</h3>
                                <p class="text-lg text-gray-500">Duis aute irure dolor in reprehenderit in <br>voluptate velit esse cillum dolore pariatur. Excepteur sint occaecat cupidatat non <br>proident, sunt in culpa.</p>
                            </div>
                            
                            <div class="container flex md:flex-row items-center px-5">
                                <img class="mb-3" src="/src/images/placeholder2.jpg" alt="placeholder" width="440" height="300"> 
                            </div>

                        </div>

                    </div>
</section>  