<section class="relative">

    <!-- Section background (needs .relative class on parent and next sibling elements) 
    <div class="absolute inset-0 pointer-events-none mb-16" aria-hidden="true"></div>
    <div class="absolute left-0 right-0 m-auto w-px p-px h-20 bg-gray-200 transform -translate-y-1/2"></div>-->

    <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-12 md:pt-20">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-center pb-12 md:pb-16">
                <h1 class="h2 mb-4">We strive for excellence</h1>
                <p class="text-xl text-gray-600">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
            </div>

        </div>
    </div>
</section>