<section class="relative">

    <div class="relative px-4 sm:px-6">
        <div class="py-12 md:py-24">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-center pb-12 md:pb-24">

                <h1 class="h2 mb-4">We strive for <span="text-green-900">excellence</span></h1>
                <p class="text-xl text-gray-600">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>

            </div>

            
             <!-- Section content -->
                <div class="container max-w-5xl mx-auto m-8" x-data="{ tab: '1' }">  
                        
            
                    <!-- First Block -->
                            <div class="flex flex-wrap mb-24">

                                <div class="w-full sm:w-1/2 md:p-6 md:mt-16">

                                    <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Lorem ipsum dolor sit amet</h3>
                                    <p class="text-gray-600 mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.</p>

                                </div>

                                <div class="w-full sm:w-1/2 md:p-6">
                                    <img class="mb-3 w-5/6 sm:h-64 mx-auto shadow-xl" src="/src/images/placeholder2.jpg" alt="placeholder"> 
                                </div>

                            </div>

                    <!-- Second Block -->
                            <div class="flex flex-wrap flex-col-reverse sm:flex-row mb-24">
                              
                                <div class="w-full sm:w-1/2 md:p-6">
                                    <img class="mb-3 w-5/6 sm:h-64 mx-auto shadow-xl" src="/src/images/placeholder2.jpg" alt="placeholder"> 
                                </div>

                                <div class="w-full sm:w-1/2 md:p-6 md:mt-16">

                                    <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Lorem ipsum dolor sit amet</h3>
                                    <p class="text-gray-600 mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.</p>

                                </div>

                            </div>
                            
                    <!-- Third Block -->
                            <div class="flex flex-wrap">

                                <div class="w-full sm:w-1/2 md:p-6 md:mt-16">

                                    <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Lorem ipsum dolor sit amet</h3>
                                    <p class="text-gray-600 mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.</p>

                                </div>

                                <div class="w-full sm:w-1/2 md:p-6">
                                    <img class="mb-3 w-5/6 sm:h-64 mx-auto shadow-xl" src="/src/images/placeholder2.jpg" alt="placeholder"> 
                                </div>

                            </div>    

                </div>
        </div>
    </div>
</section>  