<section>
  <!--Hero Content-->
  <div class="pt-16 m-8" data-aos="zoom-y-out">
    <div class="container md:px-10 xl:px-20 py-24 md:py-0 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <!--Left Col-->
      <div class="flex flex-col w-full md:w-2/5 justify-center items-start md:text-left">
        <h1 class="my-4 text-5xl font-bold leading-tighter">
          Knock on your door of <span class="text-green-700">opportunity</span> 
        </h1>
        <p class="leading-normal text-gray-600 text-lg my-4">
          At LPSci, expose yourself to new avenues and discover your potential.
        </p>
        <button class="lg:mx-0 bg-green-700 text-white font-bold rounded-md my-6 py-4 px-24 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 hover:bg-green-600 duration-300 ease-in-out" href="#0">
          Apply now!
        </button>
      </div>
      <!--Right Col-->
      <div class="w-full pt-16 md:pt-0 md:w-3/5 py-6 text-center">
         <div class="relative w-auto h-0 pb-3/4">
                                  <figure
                                    class="absolute h-auto"
                                    style="bottom: 9%; width: 41.7%; max-width: 290px"
                                    data-aos="fade-right"
                                  >
                                    <img
                                      class="shadow-2xl"
                                      src="../images/hero-9.jpg"
                                      width="320"
                                      height="240"
                                      alt="hero mosaic 03"
                                    />
                                  </figure>
                                  <figure
                                    class="absolute"
                                    style="left: 14.8%; top: 11.8%; width: 70.3%; max-width: 510px"
                                    data-aos="fade-down"
                                    data-aos-delay="150"
                                  >
                                    <img
                                      class="shadow-2xl"
                                      src="../images/hero-2.jpg"
                                      width="540"
                                      height="360"
                                      alt="hero mosaic 01"
                                    />
                                  </figure>
                                  <figure
                                    class="absolute h-auto"
                                    style="bottom: 0; right: 6.2%; width: 41.7%; max-width: 290px"
                                    data-aos="fade-left"
                                    data-aos-delay="300"
                                  >
                                    <img
                                      class="shadow-2xl"
                                      src="../images/hero-1.jpg"
                                      width="320"
                                      height="240"
                                      alt="hero mosaic 02"
                                    />
                                  </figure>
                                  <figure
                                    class="absolute h-auto"
                                    style="top: 5.9%; right: 0; width: 23.4%; max-width: 150px"
                                    data-aos="zoom-y-out"
                                    data-aos-delay="450"
                                  >
                                    <img
                                      class="shadow-2xl"
                                      src="../images/hero-6.jpg"
                                      width="180"
                                      height="180"
                                      alt="hero mosaic 04"
                                    />
                                  </figure>
                                </div>
      </div>
    </div>
  </div>
    
</section>

