<section>

        <!-- Hero Content -->
        <div data-aos="zoom-y-out">
            <img src="https://i.ibb.co/wQy4Byv/LPSci-Picture.png" alt="LPSci banner image" class="w-full h-auto relative">
               
                <h1 class="bigfont text-white md:text-5xl font-extrabold leading-tighter tracking-tighter mb-4 absolute top-0 py-32 px-40 my-5" data-aos-delay="300">In LPSci, <br/><!--<span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-teal-400">-->We Soar High!</span></h1>    

                <p class="text-xl text-gray-600 mb-8 z-5 top-0 absolute py-64 px-40 my-5" data-aos-delay="150">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br/> Deserunt accusantium labore</p>

                <a class="btn text-white bg-gradient-to-r from-green-600 to-green-500 absolute hero-cta" href="#0">Enroll now!</a>

        </div>
       
</section>