<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Blog Post - Simple Demo</title>
  </head>

  <body class="font-inter antialiased bg-white text-gray-900 tracking-tight">
    <!-- Page wrapper -->
    <div class="flex flex-col min-h-screen overflow-hidden">
      <!-- Site header -->
      <%= require('html-loader!./partials/header.html') %>

      <!-- Page content -->
      <main class="flex-grow">
        <!-- Page sections -->
        <%= require('html-loader!./partials/post-single.html') %>
      </main>

      <!-- Site footer -->
      <%= require('html-loader!./partials/footer.html') %>
    </div>
  </body>
</html>
